In [1]:
from config import ORIGINAL_DATA_FOLDER, GENERATED_DATA_FOLDER
from download_iptu import download_iptu

import os
import pandas as pd

In [2]:
iptu_file = download_iptu(2024)

df = pd.read_csv(iptu_file, sep=';', encoding='latin-1')

/tmp/ipykernel_24366/668755398.py:3: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(iptu_file, sep=';', encoding='latin-1')

In [3]:
df.head()

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NUMERO DA NL,DATA DO CADASTRAMENTO,NUMERO DO CONDOMINIO,CODLOG DO IMOVEL,NOME DE LOGRADOURO DO IMOVEL,NUMERO DO IMOVEL,COMPLEMENTO DO IMOVEL,BAIRRO DO IMOVEL,...,ANO DA CONSTRUCAO CORRIGIDO,QUANTIDADE DE PAVIMENTOS,TESTADA PARA CALCULO,TIPO DE USO DO IMOVEL,TIPO DE PADRAO DA CONSTRUCAO,TIPO DE TERRENO,FATOR DE OBSOLESCENCIA,ANO DE INICIO DA VIDA DO CONTRIBUINTE,MES DE INICIO DA VIDA DO CONTRIBUINTE,FASE DO CONTRIBUINTE
0,0010030001-4,2024,1,01/01/24,00-0,03812-1,R S CAETANO,13.0,NaN,SANTA EFIGENIA,...,1924.0,1,13.0,Loja,Comercial horizontal - padrão B,De esquina,0.20,1963,1.0,0.0
1,0010030002-2,2024,1,01/01/24,00-0,03812-1,R S CAETANO,19.0,NaN,SANTA EFIGENIA,...,1944.0,1,6.0,Loja,Comercial horizontal - padrão B,Normal,0.20,1963,1.0,0.0
2,0010030003-0,2024,1,01/01/24,00-0,03812-1,R S CAETANO,27.0,NaN,SANTA EFIGENIA,...,1965.0,2,7.85,Loja,Comercial horizontal - padrão B,Normal,0.22,1963,1.0,0.0
3,0010030004-9,2024,1,01/01/24,00-0,03812-1,R S CAETANO,33.0,NaN,NaN,...,1944.0,1,6.05,Loja,Comercial horizontal - padrão B,Normal,0.20,1963,1.0,0.0
4,0010030005-7,2024,1,01/01/24,00-0,03812-1,R S CAETANO,39.0,NaN,NaN,...,2004.0,2,6.7,Loja,Comercial horizontal - padrão B,Normal,0.82,1963,1.0,0.0

In [4]:
df.dtypes

NUMERO DO CONTRIBUINTE                    object
ANO DO EXERCICIO                           int64
NUMERO DA NL                               int64
DATA DO CADASTRAMENTO                     object
NUMERO DO CONDOMINIO                      object
CODLOG DO IMOVEL                          object
NOME DE LOGRADOURO DO IMOVEL              object
NUMERO DO IMOVEL                         float64
COMPLEMENTO DO IMOVEL                     object
BAIRRO DO IMOVEL                          object
REFERENCIA DO IMOVEL                      object
CEP DO IMOVEL                             object
QUANTIDADE DE ESQUINAS/FRENTES           float64
FRACAO IDEAL                             float64
AREA DO TERRENO                            int64
AREA CONSTRUIDA                          float64
AREA OCUPADA                             float64
VALOR DO M2 DO TERRENO                   float64
VALOR DO M2 DE CONSTRUCAO                float64
ANO DA CONSTRUCAO CORRIGIDO              float64
QUANTIDADE DE PAVIMENTOS                  object
TESTADA PARA CALCULO                      object
TIPO DE USO DO IMOVEL                     object
TIPO DE PADRAO DA CONSTRUCAO              object
TIPO DE TERRENO                           object
FATOR DE OBSOLESCENCIA                   float64
ANO DE INICIO DA VIDA DO CONTRIBUINTE      int64
MES DE INICIO DA VIDA DO CONTRIBUINTE    float64
FASE DO CONTRIBUINTE                     float64
dtype: object

In [5]:
df['NUMERO DO CONDOMINIO'].unique()

array(['00-0', '02-7', '03-5', '01-9', '04-3', '05-1', '07-8', '08-6',
       '09-4', '06-1', '10-8', '11-6', '12-4', '13-2', '14-0', '15-9',
       '16-7', '17-5', '18-3', '19-1', '20-5', '21-3', '22-1', '23-1',
       '24-8', '27-2', '28-0', '29-9', '25-6', '26-4', '30-2', '31-0',
       '33-7', '32-9', '34-5', '35-3', '36-1', '37-1', '38-8', '39-6',
       '40-1', '43-4'], dtype=object)

In [6]:
(df['FRACAO IDEAL']==1).mean()

np.float64(0.4431934698082756)

In [7]:
(df[df['FRACAO IDEAL']!=1]['NUMERO DO CONDOMINIO']=='00-0').mean()

np.float64(2.0668569159246896e-05)

In [8]:
(df[df['FRACAO IDEAL']==1]['NUMERO DO CONDOMINIO']=='00-0').mean()

np.float64(0.9999789791145137)

In [9]:
condominios =df[df['NUMERO DO CONDOMINIO']!='00-0'].reset_index()

del df

In [10]:
condominios.dtypes

index                                      int64
NUMERO DO CONTRIBUINTE                    object
ANO DO EXERCICIO                           int64
NUMERO DA NL                               int64
DATA DO CADASTRAMENTO                     object
NUMERO DO CONDOMINIO                      object
CODLOG DO IMOVEL                          object
NOME DE LOGRADOURO DO IMOVEL              object
NUMERO DO IMOVEL                         float64
COMPLEMENTO DO IMOVEL                     object
BAIRRO DO IMOVEL                          object
REFERENCIA DO IMOVEL                      object
CEP DO IMOVEL                             object
QUANTIDADE DE ESQUINAS/FRENTES           float64
FRACAO IDEAL                             float64
AREA DO TERRENO                            int64
AREA CONSTRUIDA                          float64
AREA OCUPADA                             float64
VALOR DO M2 DO TERRENO                   float64
VALOR DO M2 DE CONSTRUCAO                float64
ANO DA CONSTRUCAO CORRIGIDO              float64
QUANTIDADE DE PAVIMENTOS                  object
TESTADA PARA CALCULO                      object
TIPO DE USO DO IMOVEL                     object
TIPO DE PADRAO DA CONSTRUCAO              object
TIPO DE TERRENO                           object
FATOR DE OBSOLESCENCIA                   float64
ANO DE INICIO DA VIDA DO CONTRIBUINTE      int64
MES DE INICIO DA VIDA DO CONTRIBUINTE    float64
FASE DO CONTRIBUINTE                     float64
dtype: object

In [11]:
(condominios['FRACAO IDEAL']==1).mean()

np.float64(1.6731764713987706e-05)

In [12]:
(condominios['FRACAO IDEAL']!=1).mean()

np.float64(0.999983268235286)

In [13]:
condominios['NUMERO DO CONTRIBUINTE'].str.len().unique()

array([12])

In [14]:
condominios['NUMERO DO CONTRIBUINTE'][:3]

0    0010030079-0
1    0010030080-4
2    0010030081-2
Name: NUMERO DO CONTRIBUINTE, dtype: object

In [15]:
condominios['setor']=condominios['NUMERO DO CONTRIBUINTE'].str.slice(0,3)
condominios['quadra']=condominios['NUMERO DO CONTRIBUINTE'].str.slice(3,6)

In [16]:
condominios['setor'][:3]

0    001
1    001
2    001
Name: setor, dtype: object

In [17]:
condominios['quadra'][:3]

0    003
1    003
2    003
Name: quadra, dtype: object

In [18]:
condominios['NUMERO DO CONDOMINIO'].isnull().any()

np.False_

In [19]:
condominios['NUMERO DO CONTRIBUINTE'].isnull().any()

np.False_

In [20]:
condominios['AREA CONSTRUIDA'].isnull().any()

np.False_

In [21]:
condominios['AREA CONSTRUIDA'].dtype

dtype('float64')

In [22]:
area_constru_condominios = condominios.groupby(['setor', 'quadra', 'NUMERO DO CONDOMINIO'])[['AREA CONSTRUIDA']].sum().reset_index()

In [23]:
area_constru_condominios

      setor quadra NUMERO DO CONDOMINIO  AREA CONSTRUIDA
0       001    003                 01-9           1915.0
1       001    003                 02-7            312.0
2       001    003                 03-5           1044.0
3       001    003                 04-3           1393.0
4       001    004                 01-9           1458.0
...     ...    ...                  ...              ...
36543   310    100                 01-9          16056.0
36544   310    109                 01-9           3968.0
36545   310    117                 01-9           5582.0
36546   310    117                 02-7           6697.0
36547   310    118                 01-9          25215.0

[36548 rows x 4 columns]

In [24]:
area_constru_condominios['cod_condominio']=area_constru_condominios['NUMERO DO CONDOMINIO'].str.slice(0, 2)

In [25]:
area_constru_condominios.drop('NUMERO DO CONDOMINIO', axis=1, inplace=True)
area_constru_condominios.rename({'AREA CONSTRUIDA' :  'area_construida'}, axis=1, inplace=True)

In [27]:
area_constru_condominios.head()

  setor quadra  area_construida cod_condominio
0   001    003           1915.0             01
1   001    003            312.0             02
2   001    003           1044.0             03
3   001    003           1393.0             04
4   001    004           1458.0             01

In [29]:
area_constru_condominios.to_csv(os.path.join(GENERATED_DATA_FOLDER, 'area_construida_condominios.csv'))